.text{
    font-size: 20px;
    padding: 10px;
}
I{
    cursor: pointer;
    margin: 5px;
}
.container{
    margin: 50px 50px;
}
.container1{
    margin: 10px;
}
.form-control{
    margin: 10px;
}
.text{
    font-size: 20px;
}
.text2{
    font-size: 25px;
}
.clr{
    margin: 5px;
    padding: 1px 5px;
    font-size: 20px;
}