<div class="container">
    <form class="form-inline" #formData='ngForm' (ngSubmit)='getValue(formData.value)'>
        <div class="form-group">
            <input class="form-control" type="number"  placeholder="Id" name="id" ngModel={{emp.id}} [disabled]='isIdDisabled' required>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="First Name" name="fname" ngModel={{emp.fname}} required>
        </div>
        <div class="form-group">
            <input class="form-control" type="text"  placeholder="Last Name" name="lname" ngModel={{emp.lname}}  required>
        </div>
        <div class="form-group">
            <input class="form-control" type="number"  placeholder="Salary" name="salary" ngModel={{emp.salary}} required>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Department" name="department" ngModel={{emp.department}} required>
        </div>
        <button class="btn btn-info" type="submit" [disabled]='!formData.valid'>Save</button>
    </form>
</div>